<div class="col-sm" movieid="{{id}}">
    <!--<h4 class="title">{{original_title}}</h4>-->
    <img class='poster' src='https://image.tmdb.org/t/p/w500{{poster_path}}'  width="200px" height="200px">
    <div class="stars" id="rateYo{{id}}"></div>
    <div id="accordion" role="tablist" aria-multiselectable="false">
	  <div class="card">
	    {{#each cast}}
	    <div class="card-header" role="tab" id="headingOne{{credit_id}}">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{credit_id}}" aria-expanded="false" aria-controls="collapse{{credit_id}}">
	          {{this.name}} as {{character}}
	        </a>
	      </h5>
	    </div>
	    <div id="collapse{{credit_id}}" class="collapse" role="tabpanel" aria-labelledby="headingOne{{credit_id}}">
	      <div class="card-block">
	        <a href="#">{{profile_path}}</a>
	      </div>
	    </div>
    {{/each}}
    <h5 class="movie-date">{{release_date}}</h5>
    </div>
    </div>
</div>
<script>
	$(function () {
 
  $("#rateYo{{id}}").rateYo({
    numStars: 10,
    rating:0,
    spacing: "5px"
  });
 
});
</script>
