{{!-- <div><input type="range" id="slideRange" value="100"></div> --}}
<div class="col-sm">
    <div class="card">
        <div class="card-header" role="tab" id="heading{{id}}">
            <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapse{{id}}">
                    <img data-toggle="collapse" href="#collapseExample" class='poster' src='https://image.tmdb.org/t/p/w500{{poster_path}}'  width="200px" height="200px">
                </a>
                    <h5 class="movie-date">Release Date: {{release_date}}</h5>
                    <button type="button" class="addtowatchlist btn btn-success" id="watched--{{id}}" movieid="{{id}}"><a href="#">Add To WatchList</a></button>
                    <button type="button" class="deleteMovie btn btn-success" id="disableMovie" data-delete-id="{{fireBaseid}}"><a href="#">Delete Movie</a></button>
                    <div class="stars" id="rateYo{{id}}" movieid="{{id}}" data-stars-id="{{fireBaseid}}"></div>


        </div>
        <button type="button" class="btn btn-success" movieid="{{id}}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{id}}" aria-expanded="true" aria-controls="collapse{{id}}"><a href="#">More Info</button>
    </div>

    <div id="collapse{{id}}" class="collapse" role="tabpanel" aria-labelledby="heading{{id}}">
        <div class="card-block">
            {{#each cast}}
                <div class="card-header" role="tab" id="headingOne{{credit_id}}">
                    <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{credit_id}}" aria-expanded="false" aria-controls="collapse{{credit_id}}">
                    {{this.name}} as {{character}}
                </a>
                </h5>
                </div>
                <div id="collapse{{credit_id}}" class="collapse" role="tabpanel" aria-labelledby="headingOne{{credit_id}}">
                <div class="card-block">
                    <a href="#">{{profile_path}}</a>
                </div>
            </div>
        {{/each}}

        </div>
    </div>
</div>
<script>
$(function () {

  $("#rateYo{{id}}").rateYo({
    numStars: 10,
    rating: 0,
    spacing: "5px",
    fullStar: true
  });

});
</script>





    <!--<h4 class="title">{{original_title}}</h4>-->
    <div id="accordion" role="tablist" aria-multiselectable="false">
        <div class="collapse" id="collapseExample" class="card">
    </div>
    </div>
</div>
